<div>
  <div class="col">
  <h3>
    <a href="/agregar" class="float-end" style="margin: 10px 15px 10px 15px;">Registro Conductores</a>
  </h3>
</div>
</div>
<section class="seccion1">
  <div class="formulario">
    <h1>{{ title }}</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
        <div class="form-group col-5">
          <!-- IMPUT SELECT HACIENDO CONSULTA A TODOS LOS CONSUCTORES EXISTENTES -->
          <select class="form-select" aria-label="Default select example" [(ngModel)]="buscarConductor" [ngModelOptions]="{standalone: true}" (change)="actualizarDatos()">
            <option *ngFor="let conductor of conductores" value="{{conductor.nombreCompleto}}">{{conductor.nombreCompleto}}</option>
          </select>
        </div>
        <div class="col-3">
          <!-- BOTON DE BUSCAR -->
          <button type="" class="btn btn-primary" (click)="buscarinTable(buscarConductor)"><i class="fas fa-search"></i>   Buscar</button>
        </div>
        <div class="col-3">
          <!-- BOTONES DE REFRECAR -->
          <button *ngIf="boton" class="btn btn-info" (click)="refrescar()"><i class="fas fa-sync-alt"></i>   Refrescar</button>
        </div>
      </div>
      </div>
      <div class="col">
        <br>
        <!-- BONTES DE IMPORTACION A DOCUMENTOS -->
        <button type="submit" class="btn btn-outline-success"  (click)="generarPdf()"><i class="fas fa-file-pdf"></i>  Importar PDF</button>
        <button type="submit" class="btn btn-outline-info" (click)="generarExcel()"><i class="fas fa-file-excel"></i>   Importar Excel</button>
      </div>
    </div>
    <br />

    <table class="table" id="xd">
      <thead class="thead-dark">
        <tr class="table-primary">
          <th scope="col">Nombre</th>
          <th scope="col">Puesto</th>
          <th scope="col">Departamento</th>
          <th scope="col">Licencia</th>
          <th scope="col">Edad</th>
          <th scope="col">Fecha</th>
          <th scope="col">Antiguedad</th>
          <th scope="col">Ubicacion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- DESCOMPOSICION DEL ARRAY PARA INSERTARLO EN LA TABLA CON SUS BOTONES DE ACCION -->
        <tr *ngFor="let conductor of conductores">
          <td>{{conductor.nombreCompleto}}</td>
          <td>{{conductor.puesto}}</td>
          <td>{{conductor.departamento}}</td>
          <td>{{conductor.tipoLicencia}}</td>
          <td>{{conductor.edad}}</td>
          <td>{{conductor.fechaIngreso}}</td>
          <td>{{conductor.antiguedad}} Años</td>
          <td>{{conductor.ubicacion}}</td>
          <!-- BOTONES DE ACCION APARECEN SI SOLO HAY DATOS EXISTENTES-->
          <td><button class="btn btn-info" [routerLink]="['/modificar',conductor.idConductor]"><i class="fas fa-edit"></i>  Modificar</button> 
            <button class="btn btn-danger" (click)="eliminar(conductor.idConductor)"><i class="fas fa-trash-alt"></i> eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
