<section class="seccion2">
    <div class="formulario">
      <h1>{{ title }}</h1>
    </div>
  
    <div class="container">
      <form>
        <div class="row">
          <div class="col">
  
            <div class="form-group">
              <label for="Nombre">Nombre Completo:</label>
              <input type="text" class="form-control" id="nombreCompleto" />
            </div>
            <br>
            <div class="form-group">
              <label for="Puesto">Puesto</label>
              <input type="text" class="form-control" id="puesto" />
            </div>
            <br>
            <div class="form-group">
              <label for="departamento">Departamento:</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione Departamento:</option>
                <option value="1">U.Y.S Leon</option>
                <option value="2">TULL 2000</option>
                <option value="3">Linea Dorarda</option>
              </select>
            </div>
            <br>
            <div class="form-group">
              <label for="licencia">Tipo de Licencia:</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione tipo:</option>
                <option value="1">Tipo A</option>
                <option value="2">Tipo B</option>
                <option value="3">Tipo C</option>
                <option value="4">Tipo D</option>
              </select>
            </div>
            <br>
            <div class="form-group">
              <label for="Puesto">Edad:</label>
              <input type="text" class="form-control" id="edad" />
            </div>
            <br>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="Puesto">Fecha Ingreso:</label>
                  <input type="date" class="form-control" id="fechaIngreso" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="Puesto">Antiguedad:</label>
                  <input type="text" class="form-control" id="antiguedad" />
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="Puesto">Direccion:</label>
              <input type="text" class="form-control" id="antiguedad" />
            </div>
            <br />
            <br />
              <!-- MAPA -->
            <div class="form-row justify-content-center">
              <div #map class="mapa" id="map-container"></div>
          </div>
          <br>
          <br>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </section>